/* Netflix loader - https://codepen.io/PEELONIONS/pen/rvvwzq */
.ns-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 37px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.ns-loader:after {
  content: '';
  background-image: url(https://assets.nflxext.com/en_us/pages/wiplayer/site-spinner.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: absolute;
  margin: -6px;
  width: inherit;
  height: inherit;
  animation: ns-loader-spin 1.1s linear infinite, 1 !important;
  -webkit-animation: ns-loader-spin 1.1s linear infinite, 1 !important;
}
@keyframes ns-loader-spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ns-loader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.ns-loading-message {
  position: absolute;
  top: 75%;
  left: 50%;
  text-align: center;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* Add properties to this style for improve layout */
.ns-section-title {
  margin-bottom: 20px;
}

/* Chart Section */
.ns-section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ns-card-chart {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* Add media query for improve charts layout */
@media (max-width: 900px) {
  .ns-card-chart {
    width: 100%;
  }
}

.ns-chart {
  position: relative;
  margin: auto;
  width: 100%;
}

.ns-pie-chart {
  min-height: 225px;
}

.ns-bar-chart {
  min-height: 250px;
}

/* Stats section */
.ns-stats-section {
  border-top: 1px solid #999;
  margin-bottom: 50px;
}

.ns-card-stat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #999;
  padding-top: 15px;
  padding-bottom: 15px;
}

.ns-title-container {
  min-width: 375px;
  display: flex;
  align-items: center;
}

.ns-title {
  text-transform: uppercase;
  color: #999;
  font-weight: normal;
  font-size: 1.14em;
  margin-right: 5px;
}

.ns-number, .ns-time {
  min-width: 350px;
  margin-right: 5px;
}

.ns-extra-info {
  min-width: 140px;
  color: #999;
  font-size: 0.84em;
  text-align: right;
}

@media (max-width: 975px) {
  .ns-extra-info {
    text-align: left;
    margin-left: 34px;
    margin-top: 5px;
  }
}

@media (max-width: 828px) {
  .ns-extra-info {
    text-align: right;
    margin-left: 0;
    margin-top: 0;
  }

  .ns-number, .ns-time {
    margin-left: 34px;
    margin-top: 5px;
  }
}

@media (max-width: 647px) {
  .ns-extra-info {
    text-align: left;
    margin-left: 34px;
    margin-top: 5px;
  }
}

.ns-icon {
  margin-right: 10px;
}

/* Section Error */
.ns-error-section {
  text-align: center;
}

.ns-emojis {
  font-size: 48px;
}
